/fruits/debug.log
/fruits/images
/birdfont-cache
/dance/images
/animals/images
/flag-nepal/images
/flag-nepal/debug.log
/kid
/mousewriting/debug.log
/dance/debug.log
/dance/dance.birdfont
/fruits/*.birdfont
/flag-nepal/*.birdfont
/mousewriting/*.birdfont
/dance/test.al4
/fruits/fruits-font.birdfont
/fruits/fruits mac.ttf
/flag-nepal/flag-nepal mac.ttf
/readme.txt
/dance/dance mac.ttf
/fruits/tests.al4
